* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
}

.line {
    width: 80%;
    height: 5px;
    background-color: lightseagreen;
    align-self: center;
}

.title {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(88, 86, 86);
}

.gameboards {
    height: 60%;

    display: flex;
    gap: 120px;
    justify-content:center;
    align-items: center;
    
}

.gameboard {
    height: 90%;
    width: 40%;

    display: flex;
    flex-direction: column;
}

.name {
    height: 10%;
    text-align: center;
    color: rgb(88, 86, 86);
    font-size: 1.2rem;
}

.game_grid {
    height: 90%;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;

    color: lightseagreen;
}

.row {
    height: 10%;
    display: flex;
    text-align: center;

    border: .5px solid lightgray;
}

.column {
    width: 10%;
    height: 100%;
    border: .5px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress {
    height: 25%;

    display: flex;
    gap: 120px;
    justify-content:center;
    align-items: center;
}

.progress_chart {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 40%;
}

.ship {
    height: 20%;
    display: flex;
}

.ship_title {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: .9rem;
    color: lightseagreen;

}

.ship_state {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
}

.state_square {
    width: 18%;
    height: 80%;
    border: .5px solid lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightseagreen;
}

.result_chart {
    display: none;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(88, 86, 86);
    background-color: rgba(32, 178, 171, 0.5);
    height: 90%;
    width: 40%;
}

