body, html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
}

.container {
    display: none;
    min-width: 760px;
    height: 100vh;
}

.line {
    width: 80%;
    height: 5px;
    background-color: lightseagreen;
    margin: auto;
}

.title {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(88, 86, 86);
}

.gameboards {
    height: 60%;

    display: flex;
    gap: 120px;
    justify-content:center;
    align-items: center;
    
}

.gameboard {
    height: 90%;
    width: 40%;

    display: flex;
    flex-direction: column;
}

.gameboard .name {
    height: 10%;
    text-align: center;
    color: rgb(88, 86, 86);
    font-size: 1.2rem;
}

.gameboard .game_grid {
    height: 90%;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;

    color: lightseagreen;
}

.row {
    height: 10%;
    display: flex;
    text-align: center;

    border: .5px solid lightgray;
}

.column {
    width: 10%;
    height: 100%;
    border: .5px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress {
    height: 25%;

    display: flex;
    gap: 120px;
    justify-content:center;
    align-items: center;

    padding-bottom: 30px;
}

.ships_chart {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 40%;
}

.ship {
    height: 20%;
    display: flex;
    gap: 10px;
}

.ship_title {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: .9rem;
    color: lightseagreen;

}

.ship_state {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
}

.state_square {
    width: 18%;
    height: 80%;
    border: .5px solid lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightseagreen;
}

.overlay {
    display: none;
    position: absolute;
    background-color: rgba(211, 211, 211, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.game_end {
    display: none;
    position: absolute;
    border: 2px solid lightseagreen;
    border-radius: 5px;
    background-color: white;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    z-index: 200;

    text-align: center;
    padding-top: 80px;
    font-size: 2rem;
    color: lightseagreen;
    gap: 60px;
    
}

button {
    background-color: lightseagreen;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font: inherit;
    cursor: pointer;
}

.restart {
    display: block;
    width: 40%;
    padding: 5px;
    margin: auto;
}

.img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: auto;
}

/* style start forms */
.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game_form {
    border: 3px solid lightseagreen;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 30px;
}

#game_form > h1 {
    text-align: center;
    margin-bottom: 50px;
}

.tab.player {
    width: 60%;
    margin: auto;
}

input[type=text] {
    width: 70%;
    height: 30px;
    margin: 10px;
    border: 1px solid lightseagreen;
    border-radius: 5px;
    padding: 10px;;
}

input[type=checkbox] {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    margin: 10px;
}

button.page {
    height: 40px;
    width: 90px;
    margin: 10px;
}

  /* place ship form */
.board_container {
    height: 500px;
    margin: 30px auto 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

/* overwrite some of the existing styles when they are applied to the place ship section */

.left > .ship {
    display: flex;
    flex-direction: column;
}

.left > .ship > .ship_state {
    justify-content: center;
}

.left > .ship > .ship_state > .state_square {
    width: 15px;
    height: 15px;
}

/* hide all steps by default */
.tab {
    display: none;
}

.over {
    border: 1px dotted red;
}

.over::before {
    font-weight: lighter;
    font-size: xx-small;
    color: red;
    content: "Place Ship Here";
}


  







